<h2> Dependency List for application <b><%=h @app.app_name %></b></h2>

<!-- <p>
  <b>Api key:</b>
  <%=h @app.api_key %>
</p>
 -->

<!-- <%= link_to 'Edit', edit_app_path(@app) %> |
<%= link_to 'Back', apps_path %> -->
<% if  @app.depends_on.length > 0 %>
<ul>
<% for package in @app.depends_on %>
<%= render :partial => package %>
<% end %>
</ul>
<% else %>
<h3>No information pushed yet!</h3>
<pre style="font-size: 300%">
	<code>
1. sudo gem install unravler
2. cd <%= @app.app_name %>
3. unravler create <%= @app.app_name%>
4. unravler push
	</code>
</pre>
<% end %>